* {
    font-family: arial;
}

body {
    text-align: center;
    background-color: rgb(95, 95, 227);
    height: 50.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 10px;
}

section {
    border-radius: 15px;
    text-align: center;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: white;
    box-shadow: 5px 5px 7px black;
    
}

#trab {
    color: white;
}

#sesi {
    color: white;
}